<nav class="navbar">
    <div class="navbar-conteiner">
        <a href="../index.html" class="navbar-logo">MK Coding</a>
        <button class="navbar-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <ul class="navbar-menu">
            <li><a href="../index.html" class="active">Home</a></li>
            <li><a href="/pages/figma.html">Figma</a></li>
            <li><a href="/pages/application.html">Application</a></li>
            <li><a href="/pages/wiki.html">Wiki</a></li>
            <li><a href="/pages/kontakt.html">Kontakt</a></li>
        </ul>

    </div>

</nav>